 :root{
     --main-black: #000000;
     --main-white: #FFF;
     --second-white: #F8F8F8;
     --main-red: linear-gradient(90deg, rgba(195,1,1,1) 0%, rgba(215,0,0,1) 100%);
     --second-red:rgba(195,1,1,1);
     --grey-dark:#4A4A4A;
     --grey-weak: #767676;
     --gradient-white: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 73%);;
 }