.design {
    background-color: var(--main-black);
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    overflow: hidden;
    position: relative;

    &__main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
      
    }

    &__information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -130%);

    }


    &__title {

        background: -webkit-linear-gradient(-90deg,rgba(195,1,1,1) 5%, #000 80%);
        -webkit-background-clip: text;
        -webkit-text-stroke: 5px transparent;
        color:var(--main-black);
       
        font-size: 80px;
    }

    &__instruction {
        color: var(--main-white);
        font-size: 20px;
        text-align: start;
        width: 45%;
    }

    &__interaction {
        position: relative;
        width: fit-content;
        align-self: flex-end;
        width: 60%;
        margin-bottom: 25px;
        margin-right: 50px;

    }

    &__shoe {
        width: 100%;
    }

    &__point {
        width: 50px;
        position: absolute;
        left: 50%;
        top: 50%;

        &-jumpman {

            transform: translate(30%, -320%);
        }

        &-print {

            transform: translate(480%, 0%);
        }

        &-tinker {}
    }
    &__point:hover{
        filter: drop-shadow(0rem 0rem 0.3rem rgba(0, 0, 0, 0.75));
    }

    //Jumpman part 
    &__jumpman {

        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        display: none;

    }

    &__jumpmanImg {
        width: 50%;
        z-index: 100;
        object-fit: contain;
        align-self: flex-end;
        max-width: 662px;
    }

    &__jumpmanInfo {
        position: relative;
    }

    &__jumpmanTitle {
        font-size: 70px;
        color: var(--second-red);
        margin-top: 90px;
        margin-left: 32px;

    }

    &__jumpmanLine {
        width: 105%;
        margin-left: -20%;
        margin-top: 16px;
    }

    &__jumpmanText {
        color: var(--main-white);
        font-size: 20px;
        width: 60%;
        margin-top: 24px;
        margin-left: 32px;
    }

    //Tinker part
    &__tinker {
        position: relative;

        width: 100%;
        height: 100%;
        display: flex;
        display: none;

    }

    &__tinkerImg {

        width: 60%;
        position: absolute;
        bottom: 0%;
        right: 2%;
        object-fit: cover;
        z-index: 100;
    }

    &__tinkerInfo {
        width: 40%;
        margin-top: 5%;
        margin-left: 12%;
    }

    &__tinkerTitle {

        color: var(--second-red);
        font-size: 70px;
        text-align: right;
    }

    &__tinkerLine {
        width: 30%;

        position: absolute;
        transform: rotate(-90deg);
        left: 40%;
    }

    &__tinkerText {
        color: var(--main-white);
        font-size: 20px;
        text-align: right;
    }

    //Print part
    &__print {
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;


    }

    &__printImg {
        width: 70%;
        margin-left: -30%;
        z-index: 100;
        min-width: 850px;
        object-fit: cover;
    }

    &__printInfo {
        width: 50%;
        margin-left: 5%;
    }

    &__printTitle {
        color: var(--second-red);
        font-size: 70px;
        color: var(--second-red);
        margin-bottom: 32px;
        width: 70%;

    }

    &__printLine {
        width: 110%;
        margin-left: -25%;

        margin-bottom: 32px;


    }

    &__printText {
        color: var(--main-white);
        font-size: 20px;
    }
}

@media (max-width: 1250px) {
    .design {
        &__tinkerLine {
            top: 55%;
        }
    }
}

@media (max-width: 1170px) {
    .design {
        &__jumpmanTitle {
            margin-top: 50px;
            margin-left: 32px;

        }

        &__jumpmanLine {
            position: absolute;
            transform: rotate(-90deg);
            left: -40%;
            top: 25%;

            height: 2%;
        }
    }
}



@media (max-width: 900px) {

    .design {

        &__main {
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-size: 70px;
            
        }

        &__information {
            position: relative;
            justify-content: center;
            align-items: center;
            top: 0%;
            left: 0%;
            transform: translate(0%, 0%);
            margin-bottom: 48px;
        }

        &__instruction {

            font-size: 16px;
            text-align: center;
            width: 70%;

        }

        &__interaction {
            top: 0%;
            align-self: center;
            margin: 0px;
            width: 85%;
        }

        &__point {
            width: 45px;

        }

        //Jumpman part 
        &__jumpman {}

        &__jumpmanLine {
            height: 5%;
            top: 65%;
        }

        &__jumpmanImg {
            margin-bottom: 32px;
        }

        &__jumpmanInfo {
            align-self: flex-start;
        }

        &__jumpmanTitle {
            font-size: 60px;

        }

        &__jumpmanText {
            font-size: 18px;
        }
        &__printImg {
            margin-left: -95%;
        }

    }

}

@media (max-width: 700px) {
    .design {
        &__jumpman {

            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__jumpmanLine {}

        &__jumpmanImg {
            order: 2;
            align-self: center;
            margin-bottom: 16px;
            margin-top: 32px;
            width: 80%;
            margin-bottom: -25%;
        }

        &__jumpmanInfo {
            order: 1;
            align-self: center;
            display: flex;
            flex-direction: column;
            margin-left: 30%;
        }

        &__jumpmanTitle {
            font-size: 40px;


        }

        &__jumpmanText {
            font-size: 14px;

        }
        &__printTitle {
            font-size: 40px;
        }

        &__printImg {
            margin-left: -110%;
        }

        &__printText {
            font-size: 14px;
        }
    }
}

@media (max-width: 580px) {
    .design {
        &__main {
            justify-content: center;
            align-items: center;
        }

        &__point {
            &-jumpman {
                transform: translate(30%, -280%);
            }

            &-print {

                transform: translate(410%, 0%);
            }
        }

        &__jumpmanLine {
            left: -30%;
            height: 10%;
            top: 110%;
        }

        &__jumpmanInfo {
            order: 1;
            align-self: center;
            display: flex;
            flex-direction: column;
            margin-left: 20%;
        }

        &__print {

        }

        &__printImg {
            margin-left: -180%;
        }

        &__printInfo {
            margin-left: 3%;
        }

        &__printTitle {
            font-size: 35px;
           margin-bottom: 16px;
        }

        &__printLine {
            margin-bottom: 16px;
        }

        &__printText {
           
        }
    }
}

@media (max-width: 500px) {
    .design {

        &__title {

            -webkit-text-stroke-width: 2px;
        }

        &__point {
            &-jumpman {
                transform: translate(30%, -250%);
            }

            &-print {

                transform: translate(300%, 0%);
            }
        }

        &__jumpmanInfo {
            margin-top: -90px;
        }

        //Tinker design
        &__tinker {

            flex-direction: column;
            align-items: center;



        }

        &__tinkerImg {

            width: 110%;
            transform: translate(5%, 15%);
        }

        &__tinkerInfo {
            margin-top: 50px;
            margin-right: 25%;
            width: 50%;
        }

        &__tinkerTitle {
            font-size: 40px;
            text-align: center;
            width: 120%;
            margin-bottom: 16px;
        }

        &__tinkerLine {
            left: -15%;
            top: 66%;
            width: 75%;
        }

        &__tinkerText {
            font-size: 14px;
            text-align: center;
            width: 120%;
        }
    }
}

@media (max-width: 390px) {
    .design {

        &__title {
            font-size: 55px;
            -webkit-text-stroke-width: 2px;
        }

        &__point {
            width: 35px;

            &-jumpman {
                transform: translate(30%, -250%);
            }

            &-print {

                transform: translate(300%, 0%);
            }
        }

        &__tinkerLine {
            display: none;
        }

        &__jumpmanTitle {
            margin-top: 0px;
        }
        &__printImg {
            margin-left: -250%;
        }
    }
}
@media (max-width: 320px){

}