.header {
    display: flex;
    background-color: var(--main-black);
    height: 45px;
    
    overflow: hidden;
    justify-content: space-between;
    position: relative;

    &__icon {
        
        img { 
            height: 100%;
        }


    }

    &__navBar {
        color: var(--main-white);
        display: flex;
        align-items: center;
        
        a{
            margin-right: 2.5rem;
            
        }
    }

    &__button{
        color: var(--main-white);
        background: var(--main-red);
        text-align: center;
        height: 80%;
        width: 173px;
        border-radius: 3px;
        font-size: 18px;
        margin-right: 3rem;

    }
}