.sentence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--second-white);
    border:2px solid rebeccapurple;
    
    width: 100%;

    &__background {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__letters {
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--grey-dark);
        color: var(--second-white);
        font-size: 85px;
        width: 2200px;

        span {
            -webkit-text-stroke-width: 0px;
            color: var(--grey-weak);
        }
    }

    &__image {

        background-image: url("../resources/images/sentence/info-img-shoes.png");
        
        border:2px solid rebeccapurple;
        width: 55%;
        height: 72%;
        position: absolute;
        left: 50%;
        top:50%;
       transform:translate(-50%,-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__sentenceContain {
        position: absolute;
        margin: auto 0;
        background-color: var(--main-white);
        height: 50%;
        width: 40%;
        display: flex;
        align-items: center;
    }

    &__sentence {
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
        font-size: 22px;

        span {
            background: var(--main-red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}