@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --main-black: #000000;
  --main-white: #FFF;
  --second-white: #F8F8F8;
  --main-red: linear-gradient(90deg, rgba(195,1,1,1) 0%, rgba(215,0,0,1) 100%);
  --second-red:rgba(195,1,1,1);
  --grey-dark:#4A4A4A;
  --grey-weak: #767676;
  --gradient-white: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 73%);
}

:root {
  --main-font: 'Aldrich', sans-serif;
}

* {
  font-family: var(--main-font);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-black);
  height: 45px;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__icon img {
  height: 80%;
  margin-top: 8px;
  margin-left: 8px;
}

.header__navBar {
  color: var(--main-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navBar a {
  margin-right: 2.5rem;
}

.header__navBar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-white);
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header__navBar a:hover::after {
  width: 100%;
}

.header__button {
  color: var(--main-white);
  background: var(--main-red);
  text-align: center;
  height: 80%;
  width: 173px;
  border-radius: 3px;
  font-size: 18px;
  margin-right: 3rem;
}

.header__iconMobile {
  display: none;
}

@media (max-width: 550px) {
  .header {
    overflow: visible;
  }
  .header__navBar {
    display: none;
  }
  .header__iconMobile {
    display: block;
  }
  .header__navMobile {
    width: 100%;
    height: 800px;
    z-index: 999;
    border: 2px solid gold;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--main-white);
    top: 45px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5));
  }
  .header__navMobile a {
    text-align: center;
    margin: 16px 0;
  }
  .header__button {
    margin-top: 16px;
    width: 100%;
    height: 48px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--main-black);
  height: calc(100vh - 30px);
  padding-bottom: 32px;
}

.hero__backImg {
  height: 85%;
  width: auto;
}

.hero__frontImg {
  position: absolute;
  height: 85%;
  width: auto;
}

.hero__button {
  color: var(--main-white);
  background: var(--main-red);
  width: 344px;
  height: 60px;
  text-align: center;
  border-radius: 8px;
  font-size: 25px;
}

@media (max-width: 650px) {
  .hero {
    padding-bottom: 0;
    height: calc(100vh - 70px);
  }
  .hero__backImg {
    max-height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__frontImg {
    position: absolute;
    max-height: 60%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero__button {
    margin-top: 30px;
    width: 324px;
    height: 55px;
  }
}

@media (max-width: 450px) {
  .hero__backImg {
    max-height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__frontImg {
    position: absolute;
    max-height: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero__button {
    width: 324px;
    height: 55px;
  }
}

.sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--second-white);
  padding: 40px 0px;
  width: 100%;
}

.sentence__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sentence__letters {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--grey-dark);
  color: var(--second-white);
  font-size: 85px;
  width: 2200px;
}

.sentence__letters span {
  -webkit-text-stroke-width: 0px;
  color: var(--grey-weak);
}

.sentence__letters-mobile {
  display: none;
}

.sentence__image {
  background-image: url("../resources/images/sentence/info-img-shoes.png");
  width: 55%;
  height: 72%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sentence__sentenceContain {
  position: absolute;
  margin: auto 0;
  background-color: var(--main-white);
  height: 50%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sentence__sentence {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
}

.sentence__sentence span {
  background: var(--main-red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 950px) {
  .sentence__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sentence__image {
    background-image: url("../resources/images/sentence/sentence-img-mobile.png");
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    width: 75%;
    height: 75%;
  }
  .sentence__letters {
    font-size: 45px;
    width: 2000px;
    text-align: center;
  }
  .sentence__letters-mobile {
    display: block;
  }
  .sentence__sentenceContain {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    height: 30%;
    width: 60%;
  }
  .sentence__sentence {
    font-size: 16px;
  }
}

.design {
  background-color: var(--main-black);
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.design__main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.design__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%, -130%);
          transform: translate(-55%, -130%);
}

.design__title {
  background: -webkit-linear-gradient(-90deg, #c30101 5%, #000 80%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: var(--main-black);
  font-size: 80px;
}

.design__instruction {
  color: var(--main-white);
  font-size: 20px;
  text-align: start;
  width: 45%;
}

.design__interaction {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 60%;
  margin-bottom: 25px;
  margin-right: 50px;
}

.design__shoe {
  width: 100%;
}

.design__point {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.design__point-jumpman {
  -webkit-transform: translate(30%, -320%);
          transform: translate(30%, -320%);
}

.design__point-print {
  -webkit-transform: translate(480%, 0%);
          transform: translate(480%, 0%);
}

.design__jumpman {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  display: none;
}

.design__jumpmanImg {
  width: 50%;
  z-index: 100;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 662px;
}

.design__jumpmanInfo {
  position: relative;
}

.design__jumpmanTitle {
  font-size: 70px;
  color: var(--second-red);
  margin-top: 90px;
  margin-left: 32px;
}

.design__jumpmanLine {
  width: 105%;
  margin-left: -20%;
  margin-top: 16px;
}

.design__jumpmanText {
  color: var(--main-white);
  font-size: 20px;
  width: 60%;
  margin-top: 24px;
  margin-left: 32px;
}

.design__tinker {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.design__tinkerImg {
  width: 60%;
  position: absolute;
  bottom: 0%;
  right: 2%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
}

.design__tinkerInfo {
  width: 40%;
  margin-top: 5%;
  margin-left: 12%;
}

.design__tinkerTitle {
  color: var(--second-red);
  font-size: 70px;
  text-align: right;
}

.design__tinkerLine {
  width: 30%;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 40%;
}

.design__tinkerText {
  color: var(--main-white);
  font-size: 20px;
  text-align: right;
}

.design__print {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design__printImg {
  width: 70%;
  margin-left: -30%;
  z-index: 100;
  min-width: 850px;
  -o-object-fit: cover;
     object-fit: cover;
}

.design__printInfo {
  width: 50%;
  margin-left: 5%;
}

.design__printTitle {
  color: var(--second-red);
  font-size: 70px;
  color: var(--second-red);
  margin-bottom: 32px;
  width: 70%;
}

.design__printLine {
  width: 110%;
  margin-left: -25%;
  margin-bottom: 32px;
}

.design__printText {
  color: var(--main-white);
  font-size: 20px;
}

@media (max-width: 1250px) {
  .design__tinkerLine {
    top: 55%;
  }
}

@media (max-width: 1170px) {
  .design__jumpmanTitle {
    margin-top: 50px;
    margin-left: 32px;
  }
  .design__jumpmanLine {
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -40%;
    top: 25%;
    height: 2%;
  }
}

@media (max-width: 900px) {
  .design__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design__title {
    font-size: 70px;
  }
  .design__information {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    margin-bottom: 48px;
  }
  .design__instruction {
    font-size: 16px;
    text-align: center;
    width: 70%;
  }
  .design__interaction {
    top: 0%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px;
    width: 85%;
  }
  .design__point {
    width: 45px;
  }
  .design__jumpmanLine {
    height: 5%;
    top: 65%;
  }
  .design__jumpmanImg {
    margin-bottom: 32px;
  }
  .design__jumpmanInfo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .design__jumpmanTitle {
    font-size: 60px;
  }
  .design__jumpmanText {
    font-size: 18px;
  }
  .design__printImg {
    margin-left: -95%;
  }
}

@media (max-width: 700px) {
  .design__jumpman {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design__jumpmanImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 16px;
    margin-top: 32px;
    width: 80%;
    margin-bottom: -25%;
  }
  .design__jumpmanInfo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30%;
  }
  .design__jumpmanTitle {
    font-size: 40px;
  }
  .design__jumpmanText {
    font-size: 14px;
  }
  .design__printTitle {
    font-size: 40px;
  }
  .design__printImg {
    margin-left: -110%;
  }
  .design__printText {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .design__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design__point-jumpman {
    -webkit-transform: translate(30%, -280%);
            transform: translate(30%, -280%);
  }
  .design__point-print {
    -webkit-transform: translate(410%, 0%);
            transform: translate(410%, 0%);
  }
  .design__jumpmanLine {
    left: -30%;
    height: 10%;
    top: 110%;
  }
  .design__jumpmanInfo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20%;
  }
  .design__printImg {
    margin-left: -180%;
  }
  .design__printInfo {
    margin-left: 3%;
  }
  .design__printTitle {
    font-size: 35px;
    margin-bottom: 16px;
  }
  .design__printLine {
    margin-bottom: 16px;
  }
}

@media (max-width: 500px) {
  .design__title {
    -webkit-text-stroke-width: 2px;
  }
  .design__point-jumpman {
    -webkit-transform: translate(30%, -250%);
            transform: translate(30%, -250%);
  }
  .design__point-print {
    -webkit-transform: translate(300%, 0%);
            transform: translate(300%, 0%);
  }
  .design__jumpmanInfo {
    margin-top: -90px;
  }
  .design__tinker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design__tinkerImg {
    width: 110%;
    -webkit-transform: translate(5%, 15%);
            transform: translate(5%, 15%);
  }
  .design__tinkerInfo {
    margin-top: 50px;
    margin-right: 25%;
    width: 50%;
  }
  .design__tinkerTitle {
    font-size: 40px;
    text-align: center;
    width: 120%;
    margin-bottom: 16px;
  }
  .design__tinkerLine {
    left: -15%;
    top: 66%;
    width: 75%;
  }
  .design__tinkerText {
    font-size: 14px;
    text-align: center;
    width: 120%;
  }
}

@media (max-width: 390px) {
  .design__title {
    font-size: 55px;
    -webkit-text-stroke-width: 2px;
  }
  .design__point {
    width: 35px;
  }
  .design__point-jumpman {
    -webkit-transform: translate(30%, -250%);
            transform: translate(30%, -250%);
  }
  .design__point-print {
    -webkit-transform: translate(300%, 0%);
            transform: translate(300%, 0%);
  }
  .design__tinkerLine {
    display: none;
  }
  .design__jumpmanTitle {
    margin-top: 0px;
  }
  .design__printImg {
    margin-left: -250%;
  }
}

.buyNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background-color: var(--second-white);
}

.buyNow__gallery {
  height: 75%;
}

.buyNow__slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buyNow__slide {
  width: 150px;
}

.buyNow__information {
  margin-left: 50px;
}

.buyNow__brand {
  color: var(--main-red);
  font-size: 72px;
  background: var(--main-red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buyNow__price {
  font-size: 72px;
}

.buyNow__description {
  margin-bottom: 32px;
}

.buyNow__selectSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buyNow__size {
  width: 165px;
  height: 38px;
  border: 1px solid var(--main-black);
  border-radius: 4px;
  font-size: 20px;
  margin-top: 8px;
}

.buyNow__button {
  background-image: var(--main-red);
  color: var(--main-white);
  width: 100%;
  height: 50px;
  border-radius: 4px;
  margin-top: 16px;
  font-size: 25px;
}

.buyNow__size:focus {
  background: var(--main-black);
  color: var(--main-white);
}

@media (max-width: 1393px) {
  .buyNow__size {
    width: 125px;
  }
}

@media (max-width: 1150px) {
  .buyNow {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .buyNow__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    min-height: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }
  .buyNow__slides {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .buyNow__slide {
    width: 25%;
  }
  .buyNow__brand {
    font-size: 60px;
  }
  .buyNow__information {
    margin: 0;
  }
  .buyNow__size {
    width: 150px;
  }
}

@media (max-width: 962px) {
  .buyNow__size {
    width: 130px;
  }
  .buyNow__price {
    font-size: 64px;
    margin-top: 8px;
  }
}

.newsletter {
  background-color: var(--main-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.newsletter__title {
  background: -webkit-linear-gradient(-90deg, #fff 5%, #000 70%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: var(--main-black);
  font-size: 90px;
}

.newsletter__info {
  color: var(--main-white);
  text-align: center;
  width: 50%;
  font-size: 20px;
  margin-top: 32px;
}

.newsletter__inputEmail {
  width: 70%;
  background: var(--main-black);
  border: 0px;
  border-bottom: 2px solid var(--main-white);
  margin-top: 24px;
  height: 30px;
  color: var(--main-white);
  font-size: 20px;
  text-align: center;
}

.newsletter__inputEmail::-webkit-input-placeholder {
  text-align: center;
  color: var(--main-white);
  font-size: 20px;
}

.newsletter__inputEmail:-ms-input-placeholder {
  text-align: center;
  color: var(--main-white);
  font-size: 20px;
}

.newsletter__inputEmail::-ms-input-placeholder {
  text-align: center;
  color: var(--main-white);
  font-size: 20px;
}

.newsletter__inputEmail::placeholder {
  text-align: center;
  color: var(--main-white);
  font-size: 20px;
}

.newsletter__inputEmail:focus {
  outline: none !important;
}

.newsletter__buttonSubs {
  color: var(--main-black);
  background: var(--main-white);
  width: 344px;
  height: 50px;
  border-radius: 8px;
  font-size: 25px;
  margin-top: 40px;
}

@media (max-width: 950px) {
  .newsletter__title {
    font-size: 70px;
  }
  .newsletter__info {
    color: var(--main-white);
    text-align: center;
    min-width: 80%;
    font-size: 18px;
    margin-top: 32px;
  }
  .newsletter__inputEmail {
    font-size: 18px;
  }
  .newsletter__inputEmail::-webkit-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail:-ms-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail::-ms-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail::placeholder {
    font-size: 18px;
  }
}

@media (max-width: 515px) {
  .newsletter__title {
    font-size: 55px;
  }
  .newsletter__info {
    color: var(--main-white);
    text-align: center;
    min-width: 80%;
    font-size: 16px;
    margin-top: 32px;
  }
  .newsletter__inputEmail {
    font-size: 18px;
  }
  .newsletter__inputEmail::-webkit-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail:-ms-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail::-ms-input-placeholder {
    font-size: 18px;
  }
  .newsletter__inputEmail::placeholder {
    font-size: 18px;
  }
}

@media (max-width: 395px) {
  .newsletter__title {
    -webkit-text-stroke-width: 0.8px;
    font-size: 50px;
  }
}

.footer {
  background-color: var(--main-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px 20px 50px;
  border-top: 2px solid var(--main-white);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__brandInfo {
  color: var(--main-white);
  font-size: 14px;
  text-align: left;
  width: 40%;
}

.footer__icon {
  width: 12%;
  margin-bottom: 24px;
}

.footer__navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--main-white);
  padding-right: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__navBar a {
  margin-top: 16px;
}

.footer__navBar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-white);
  -webkit-transition: width .3s;
  transition: width .3s;
}

.footer__navBar a:hover::after {
  width: 100%;
}

.footer__socialMedia {
  height: 20%;
  margin-top: 24px;
}

.footer__socialIcon {
  height: 40px;
  margin: 0 4px;
}

.footer__copyright {
  color: var(--main-white);
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

.footer__button {
  background-image: var(--main-red);
  color: var(--main-white);
  width: 180%;
  height: 48px;
  border-radius: 4px;
  margin-top: 16px;
  font-size: 25px;
}

@media (max-width: 850px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__brandInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 70%;
  }
  .footer__navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--main-white);
    margin-top: 32px;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer__navBar a {
    margin-top: 8px;
  }
  .footer__button {
    width: 80%;
  }
  .footer__socialMedia {
    margin-top: 32px;
  }
}
/*# sourceMappingURL=index.css.map */